@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 25px auto;
    max-width: 360px;
    padding: 25px;
    background-color: #ddd;
    border-radius: 5px;
  }

}
