.App {
  text-align: left;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App .navbar-brand {
  font-weight: bold;
}

.App .navbar {
  border-radius: 0px;
  width: auto;
}

.subtitle {
  text-align: center;
  margin: auto;
  padding: 5px;
}
